.layout__title {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  font-size: 90pt;
  margin: 0;
  padding: 60px;
  font-family: "Caprasimo";
  font-weight: bolder;
  font-style: normal;
  color: #303634;
}


