.home-page__text {
    font-family: 'Fraunces', serif; // Change to your desired font
    font-size: 16pt; // Adjust the size as needed
    color: #817365; // Adjust the color as needed
    text-align: center;
    margin-bottom: 1px;
  }
