@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;600;900&display=swap');

@import './layout/index.scss';
@import './nav-bar-old/index.scss';
@import './tendencias-page/index.scss';
@import './homepage/index.scss';

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
}
