
.arrow-left-button {
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  bottom: 50px; 
  right: 100px;
}

.arrow-left-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}