.registro-container {
  font-family: 'Fraunces', serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f9;
  min-height: 100vh;

  h2 {
    font-size: 22px;
    color: #817365;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 20px;
    color: #817365;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px 5px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.status-icon {
  width: 30px;
  height: 30px;
}

.bottom-left-button {
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  bottom: 50px; 
  left: 20px;
}