.nav-bar__link {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;

  padding: 8px;
  color: #9b5843;

  &--active {
    background: #EFC4A9;
    color: white;
  }
}

.nav-bar__icon {
  width: 30px; 
  height: 33px;
}
